.react-calendar {
    border-radius: 10px;
    border: 1px solid var(--festie-gray-400, #c8c8c8);
    /* 전체 틀: border, border-radius 조정*/
}

.react-calendar__navigation__label>span {
    /* 달력 상단 년/월 글씨 커스텀*/
    color: var(--festie-gray-800, #3a3a3a);
    font-family: SUIT Variable;
    font-size: 15px;
    font-weight: 500;
    line-height: 140%;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
    /*hover 했을 때 색상 변경*/
    background: var(--festie-primary-orange, #6BB8FF);
}

.react-calendar__tile--now {
    /* 오늘 날짜 하이라이트 커스텀*/
    background: #6BB8FF;
    color: var(--festie-gray-800, #3a3a3a);
}

.react-calendar__tile--active {
    background: var(--festie-primary-orange, #6BB8FF);
    color: #6BB8FF;
}

.react-calendar__tile--active:hover {
    background: var(--festie-primary-orange, #6BB8FF);
    color: white;
}

/* 요일 순서 변경 */
.react-calendar__month-view__weekdays__weekday {
    display: none;
}

.react-calendar__month-view__days__day--weekend {
    /* 주말 요일 글씨 색상 변경 또는 숨김 */
    color: var(--festie-gray-800, #3a3a3a);
}

/* 추가적인 스타일링 */
.react-calendar__tile--hover {
    background-color: var(--festie-primary-orange, #6BB8FF);
    color: white;
}